.navbar {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: url(https://www.google.com/search?q=transparent+background&sxsrf=ALeKk03kQEtJlOyMndK_ANMJiMWg8DIRKA:1601710226315&source=lnms&tbm=isch&sa=X&ved=2ahUKEwim-cnI85fsAhXEvosKHZqhBYkQ_AUoAXoECBUQAw&biw=952&bih=968#imgrc=CPM6fmwTd_ooZM);
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  position: absolute;
  z-index: 2;
  background-color: url(https://www.google.com/search?q=transparent+background&sxsrf=ALeKk03kQEtJlOyMndK_ANMJiMWg8DIRKA:1601710226315&source=lnms&tbm=isch&sa=X&ved=2ahUKEwim-cnI85fsAhXEvosKHZqhBYkQ_AUoAXoECBUQAw&biw=952&bih=968#imgrc=CPM6fmwTd_ooZM);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.hidden {
  visibility: hidden;
}

.nav-text {
  display: flex;
  justify-self: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: url(https://www.google.com/search?q=transparent+background&sxsrf=ALeKk03kQEtJlOyMndK_ANMJiMWg8DIRKA:1601710226315&source=lnms&tbm=isch&sa=X&ved=2ahUKEwim-cnI85fsAhXEvosKHZqhBYkQ_AUoAXoECBUQAw&biw=952&bih=968#imgrc=CPM6fmwTd_ooZM);
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

span {
  margin-left: 16px;
}
